.header {
	display: flex;
	justify-content: space-between;
	background-color: #019ca0;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 1;
}
.logo {
	width: 200px;
	padding: 10px;
	margin-top: 5px;
	margin-left: 12px;
}
.nav-items > ul {
	font-size: 24px;
	display: flex;
	list-style-type: none;
	letter-spacing: 0.2rem;
}
.nav-items > ul > li {
	padding: 0px 10px;
	margin: 0px 10px;
}
.res-card {
	width: 193px;
	/* height: 430px; */
	padding: 5px;
	/* margin: 0 3px; */
	margin: 5px;
}
.res-card:hover {
	scale: 1.03;
	cursor: pointer;
}
.res-logo {
	width: 100%;
}
.search {
	padding: 10px;
}
.res-container {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: start;
	align-items: center; */
}
.filter-btn {
	margin: 10px;
	cursor: pointer;
	border: none;
	background-color: #fc8019;
	color: white;
	padding: 8px 10px;
	font-size: 16px;
	border-radius: 50px;
}
.filter-btn:hover {
	scale: 1.03;
	background-color: #d76a10;
}
.body {
	margin-top: 100px;
}
.shimmer-container {
	display: flex;
	flex-wrap: wrap;
}
.shimmer-card {
	margin: 20px;
	width: 200px;
	height: 300px;
	background-color: #f0f0f0;
}
.login-btn {
	cursor: pointer;
	border: none;
	background-color: #fc8019;
	color: white;
	padding: 8px 20px;
	font-size: 16px;
	border-radius: 10px;
	font-weight: 500;
	letter-spacing: 0.1rem;
}
.filter {
	display: flex;
	justify-content: space-between;
}
.search-box {
	border: none;
	background-color: #f0f0f5;
	padding: 5px 50px;
}
.menuImg {
	width: 100px;
}
.user-card {
	border: 2px solid black;
}
